.sub-header-dst {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(/assets/photo/sub-header_wisata.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.sub-header-dst h1 {
  padding-top: 160px;
  font-size: 3rem;
}

.sub-header-dst p {
  font-size: 14px;
  font-style: italic;
}

.event__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 97%,
    hsl(0, 0%, 0%) 102%
  );
}

.event {
  padding: 50px 120px;
}

/* ============== WISATA CARD ============== */
.button-group {
  text-align: center;
  margin-bottom: 40px;
}

.button-group .button-filter {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #c8d1d8;
  color: #222;
  font-style: 12px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.4s;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.button-group .button-filter.active {
  background-color: #222;
  color: #c8d1d8;
}

.button-group .button-filter:hover {
  background-color: #222;
  color: #c8d1d8;
}

.wisata {
  padding: 30px 8%;
  font-size: 14px;
  margin: 0px;
  width: 100%;
}

.box-cards-blog {
  max-width: 1430px;
  margin: auto;
  padding: 20px 40px;
}

.card {
  margin-bottom: 20px;
  display: flex;
  background-color: grey;
  transition: box-shadow 0.3s ease;
  border-radius: 20px;
}

.card:hover {
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.04);
}
.card .card-image {
  width: 100%;
}
.card .card-image img {
  width: 100%;
  max-height: 193px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.card .card-meta {
  width: 70%;
  padding: 1rem;
  flex: 1;
  margin-left: 1rem;
}
.card .card-title {
  font-family: "DM Serif Display", serif;
  font-size: 2rem;
  margin: 0px;
  margin-bottom: 1rem;
}
.card .card-title > a {
  display: block;
  color: #081f32;
  text-decoration: none;
}
.card .card-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.card .card-desc{
  text-align: justify;
  font-size: 14px;
}

.card .card-top {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}
.card .card-top .date {
  color: #6e798c;
}
.card .card-bottom {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}
.card .card-bottom .avatar {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
}
.card .card-bottom .avatar img {
  width: 32px;
  height: 32px;
  justify-content: space-between;
}
.card .card-bottom .username {
  color: #007ae9;
  font-weight: 600;
}
.card .card-bottom .readmore {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #007ae9;
  font-weight: 600;
  transition: transform 0.3s ease;
}
.card .card-bottom .readmore:hover {
  transition: transform 0.3s ease;
  transform: translateX(-10px);
}

.box-cards-blog.-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
}

.box-cards-blog.-grid .card {
  width: calc(33.33333% - 10px);
  display: block;
  padding: 1rem;
}
.box-cards-blog.-grid .card .card-title {
  font-size: 1.5rem;
}
.box-cards-blog.-grid .card .card-image {
  width: 100%;
}
.box-cards-blog.-grid .card .card-image img {
  border-radius: 20px;
  width: 100%;
}
.box-cards-blog.-grid .card .card-meta {
  width: 100%;
  margin-left: 0px;
  padding: 0px;
  margin-top: 1rem;
}

/*Responsive*/
@media (max-width: 420px) {
  .button-group .button-filter {
    padding: 5px 5px;
  }

  .sub-header-dst h1 {
    padding-top: 160px;
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .box-cards-blog.-grid {
    display: block;
  }
  .box-cards-blog.-grid .card {
    width: 100%;
    display: flex;
  }
  .box-cards-blog.-grid .card .card-image {
    width: 200px;
  }
  .box-cards-blog.-grid .card .card-meta {
    margin-left: 20px;
    margin-top: 0px;
  }
}

@media (max-width: 768px) {
  .sub-header-dst h1 {
    padding-top: 160px;
    font-size: 1.5rem;
  }
  
  .box-cards-blog {
    padding: 20px;
  }
  .card {
    display: block;
  }
  .card .card-image {
    width: 100%;
  }
  .card .card-image img {
    border-radius: 20px;
  }
  .card .card-meta {
    width: 100%;
    margin-left: 0px;
  }
  .box-cards-blog.-grid .card {
    display: block;
  }
  .box-cards-blog.-grid .card .card-image {
    width: 100%;
  }
  .box-cards-blog.-grid .card .card-meta {
    margin-left: 0px;
    margin-top: 1rem;
  }
}
