@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #000000;
}

section {
  position: relative;
}

/* ========= HEADER & NAVBAR ========== */
header {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: calc(5rem + 1rem);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 0.5 ease;
  transition-property: height, background;
}

header.sticky {
  height: calc(2.5rem + 1rem);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header .nav-bar {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
  transition: 0.3s ease;
}

.nav-close-btn,
.nav-menu-btn {
  display: none;
}

.nav-bar .logo img {
  color: #000000;
  width: 170px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

.navigation .nav-items a {
  color: #000000;
  font-weight: 700;
  font-size: 1em;
  text-decoration: none;
  text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

.home {
  min-height: 100vh;
}

.bg-slider {
  z-index: 777;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.navigation .nav-items a i {
  display: none;
}

.navigation .nav-items a:not(:last-child) {
  margin-right: 20px;
}

/* ======= BANNER SECTION ====== */
.home {
  min-height: 100vh;
}

.bg-slider {
  z-index: 777;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.bg-slider .swiper-slide {
  position: relative;
  width: 100%;
  height: 100vh;
}

.bg-slider .swiper-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  pointer-events: none;
}

.swiper-slide .text-content {
  position: absolute;
  top: 25%;
  color: #fff;
  margin: 0 200px;
  transition: 0.3 ease;
}

.swiper-slide .text-content .title {
  font-size: 4em;
  font-weight: 700;
  text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transform: translateY(-50px);
  opacity: 0;
}

.swiper-slide-active .text-content .title {
  transform: translateY(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content p {
  max-width: 700px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 25px rgba(0 0 0 / 20%);
  transform: translateX(-80px);
  opacity: 0;
}

.swiper-slide-active .text-content p {
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.button {
  height: auto;
  background: transparent;
  padding: 0;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}

.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #00fee5;
  --fs-size: 1.3em;
  letter-spacing: 3px;
  text-decoration: none;
  font-style: italic;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.button a {
  text-decoration: none;
  color: #fff;
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

.dark-layer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}

.bg-slider-thumbs {
  z-index: 777;
  position: absolute;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3 ease;
}

.thumbs-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px 3px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 25px rgba(0 0 0 / 20%);
}

.thumbs-container img {
  width: 50px;
  height: 35px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.swiper-slide-thumb-active {
  border: 1px solid #fff;
}

/* ========== ABOUT SECTION ========== */
.home:before {
  z-index: 888;
  content: "";
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, rgb(0, 0, 0));
}

.title-about {
  justify-content: center;
  line-height: 40px;
  text-align: center;
  align-items: center;
  color: #000000;
  padding: 40px;
  margin: auto;
  background-color: #ffffff;
}

.title-about h1 {
  font-size: 44px;
  margin: 51px 0 0 0;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.title-about p {
  font-size: 19px;
  font-style: italic;
  text-transform: capitalize;
  font-weight: 400;
}

.about-video {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 20rem 5rem 0 5rem;
  color: white;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
}

.video h2 {
  font-size: 3.5em;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.video-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
}

.explore__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #ffffff 15%,
    hsla(0, 0%, 0%, 0) 30%,
    hsla(0, 0%, 0%, 0) 80%,
    #ffffff 100%
  );
}

.video span {
  font-style: italic;
  padding-left: 5px;
}

/* =========== DESTINATION ========== */
.destination {
  margin: 50px 0 0 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container-dst {
  max-width: 100%;
  width: 100%;
  padding: 40px 0 0 0;
}

.dst-title {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 50px;
}

.title-dst {
  font-size: 2em;
  display: flex;
}

.slide-container-dst {
  margin: 30px 50px;
  overflow: hidden;
}

.card {
  background: #fff;
  border-radius: 8px;
}

.card .image-box {
  height: 250px;
}

.card .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.card .dst-details {
  position: absolute;
  top: 70%;
  color: white;
  padding: 15px;
  column-gap: 12px;
  align-items: center;
  display: flex;
}

.card .dst-details img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dst-details .name {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}

.dst-details .read-more-dst {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  font-style: italic;
}

.button-dst {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button-dst:hover::before {
  transform: scaleX(1);
}

.button-dst a {
  text-decoration: none;
  color: #fff;
}

.button-content-dst {
  position: relative;
  z-index: 1;
}

.button-dst::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

/* ========== EVENT CARD ========== */
.event-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title-event {
  font-size: 2em;
  display: flex;
}

.wrapper-event {
  padding: 10px 10%;
}

#card-area {
  padding: 50px 0;
}

.box-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.box {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.box img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.overlay-event {
  height: 0;
  width: 100%;
  background: linear-gradient(transparent, #363535 58%);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 25px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.overlay-event h3 {
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 60%;
  font-size: 17px;
}

.overlay-event p {
  font-size: 12px;
}

.overlay-event a {
  margin-top: 10px;
  color: #000000;
  font-size: 12px;
  background: #fff;
  border-radius: 50px;
  text-align: center;
  padding: 5px 15px;
  text-decoration: none;
}

.box:hover img {
  transform: scale(1.2);
}

.box:hover .overlay-event {
  height: 120%;
}

.button-event {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button-event a {
  text-decoration: none;
  color: #fff;
}

.button-event:hover::before {
  transform: scaleX(1);
}

.button-content-event {
  position: relative;
  z-index: 1;
}

.button-event::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

/* ========== INFINITE SCROLL ========== */
.infinite {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.scroll {
  position: relative;
  display: flex;
  width: 90%;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    #fff 20%,
    #fff 80%,
    transparent
  );
}

.scroll div {
  white-space: nowrap;
  animation: animate var(--t) linear infinite;
  animation-delay: calc(var(--t) * -1);
}

.scroll div:nth-child(2) {
  animation: animate2 var(--t) linear infinite;
  animation-delay: calc(var(--t) / -2);
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

.imgbx img {
  max-width: 200px;
  scale: 0.8;
  border-radius: 5px;
}

/* ========== RESPONSIVE ========== */
@media screen and (min-width: 320px) {
  .card .dst-details {
    top: 60%;
  }

  .imgbx img {
    max-width: 200px;
    scale: 0.8;
  }
}

@media screen and (min-width: 785px) and (max-width: 1100px) {
  header .nav-bar {
    padding: 0 50px;
  }

  .section {
    padding: 25px 50px;
  }

  .swiper-slide .text-content {
    margin: 0 120px 0 50px;
  }

  .bg-slider-thumbs {
    bottom: 3em;
  }

  .about-video {
    min-height: 77vh;
    padding: 10rem 5rem 0 5rem;
  }

  .swiper-slide .text-content .title {
    font-size: 3em;
  }

  .swiper-slide .text-content .title {
    font-size: 3em;
  }

  .bg-slider-thumbs {
    bottom: 3em;
  }
}

@media screen and (max-width: 785px) {
  header .nav-bar {
    padding: 25px 20px;
  }

  .section {
    padding: 25px 20px;
  }

  .swiper-slide .text-content {
    margin: 0 70px 0 20px;
  }

  .swiper-slide .text-content .title {
    font-size: 3em;
  }

  .swiper-slide .text-content p {
    font-size: 0.9em;
  }

  .nav-menu-btn {
    display: block;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
  }

  .nav-close-btn {
    display: block;
    color: #222;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3em;
    margin: 10px;
    cursor: pointer;
    transition: 0.3 ease;
  }

  .navigation {
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
  }

  .navigation.active {
    visibility: visible;
    opacity: 1;
  }

  .navigation.active .nav-items {
    transform: translateY(0);
  }

  .navigation.active .nav-items a:hover {
    color: #3b5378;
  }

  .navigation .nav-items {
    position: relative;
    background: #fff;
    width: 400px;
    max-width: 400px;
    display: grid;
    place-content: center;
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 5px 25px rgba(0 0 0 / 20%);
    transform: translateY(-200px);
    transition: 0.3s ease;
  }

  .navigation .nav-items a {
    color: #222;
    font-size: 1em;
    margin: 15px 50px;
    transition: 0.3 ease;
  }

  .navigation .nav-items a i {
    display: inline-block;
    font-size: 1.3em;
    margin-right: 5px;
  }

  .swiper-slide .text-content .button {
    font-size: 0.9em;
  }

  .about-video {
    min-height: 66vh;
    padding: 9rem 5rem 0 5rem;
  }
}

@media screen and (max-width: 690px) {
  .about-video {
    min-height: 45vh;
    padding: 5rem 1rem 0 1rem;
  }

  .about-video .video h2 {
    font-size: 1.5rem;
  }

  .about-video .video p {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 576px) {
  .swiper-slide .text-content .title {
    font-size: 2em;
  }

  .swiper-slide .text-content p {
    font-size: 0.85em;
  }

  .about-video {
    min-height: 33vh;
    padding: 5rem 1rem 0 1rem;
  }

  .about-video .video h2 {
    font-size: 15px;
  }

  .about-video .video p {
    font-size: 7px;
  }
}

@media screen and (min-width: 404px) and (max-width: 576px) {
  .swiper-slide .text-content .title {
    font-size: 40px;
  }

  .swiper-slide .text-content {
    margin: 0 70px 0 20px;
    top: 15%;
  }

  .swiper-slide .text-content p {
    font-size: 11px;
  }

  .bg-slider-thumbs {
    bottom: 35px;
  }

  .title-about h1 {
    font-size: 28px;
    margin: 0 20px;
  }

  .title-about p {
    font-size: 12px;
    letter-spacing: 0px;
  }

  .explore__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      #3bb2ff 8%,
      #3bb2ff 35%,
      #3bb2ff 39%,
      #3bb2ff 95%
    );
  }

  .about-video {
    min-height: 30vh;
    padding: 5rem 1rem 0 1rem;
  }

  .about-video .video h2 {
    font-size: 10px;
  }

  .about-video .video p {
    font-size: 5px;
  }

  span {
    font-size: 10px;
  }

  .dst-title {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 30px;
  }

  .title-dst {
    font-size: 25px;
  }

  .wrapper-event {
    padding: 10px 5%;
  }

  .title-event {
    font-size: 25px;
    display: flex;
  }

  .button-event {
    height: 2rem;
    padding: 0 1rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
    top: 35%;
  }

  .button-dst {
    position: relative;
    overflow: hidden;
    height: 2rem;
    padding: 0 1rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .read-more {
    top: 10%;
  }
}

@media screen and (max-width: 403px) {
  .dst-title {
    padding: 0 20px 0 20px;
  }

  .button-dst {
    height: 30px;
    padding: 0 5px;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
  }

  .title-dst {
    font-size: 19px;
    display: flex;
  }

  .button-event {
    height: 30px;
    padding: 0 5px;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
  }

  .title-event {
    font-size: 19px;
    display: flex;
  }
}

/* ============== SUB HEADER ============= */
.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(/assets/photo/bg_event.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.sub-header h1 {
  padding-top: 160px;
  font-size: 3rem;
}

.sub-header p {
  font-size: 14px;
  font-style: italic;
}

.event__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #17153b 15%,
    hsla(0, 0%, 0%, 0) 35%,
    hsla(0, 0%, 0%, 0) 80%,
    #17153b 120%
  );
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .sub-header h1 {
    font-size: 27px;
  }

  .sub-header p {
    font-size: 10px;
  }
}

/* =============== FOOTER =============== */
footer {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom,
    #3abef9,
    #5cc8fa,
    #77d2fb,
    #90dcfd,
    #a7e6ff
  );
  font-family: "Heebo", sans-serif;
}

a {
  text-decoration: none;
}

.container-footer {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

.wrapper-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapper-footer .footer-widget {
  width: calc(20% - 30px);
  margin: 0 15px 50px;
  padding: 0 12px;
}

.wrapper-footer .footer-widget:nth-child(1) {
  width: calc(40% - 50px);
  margin-right: 15px;
}

.wrapper-footer .footer-widget .logo img {
  width: 170px;
  margin-bottom: 30px;
  vertical-align: middle;
}

.wrapper-footer .footer-widget p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
}

.wrapper-footer .footer-widget .socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.wrapper-footer .footer-widget .socials li {
  list-style: none;
}

.wrapper-footer .footer-widget .socials li a {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  color: #000000;
  background-color: rgba(3, 127, 243, 0.5);
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
}

.wrapper-footer .footer-widget .socials li a:hover {
  background-color: #037ef3;
}

.wrapper-footer .footer-widget h6 {
  color: rgb(0, 0, 0);
  margin: 10px 0 35px;
  font-size: 20px;
  font-weight: 700;
}

.wrapper-footer .footer-widget .links li {
  list-style: none;
}

.wrapper-footer .footer-widget .links li a {
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 32px;
  transition: all 0.3s ease-out;
}

.wrapper-footer .footer-widget .links li a:hover {
  color: #037ef3;
}

.copyright-wrapper {
  padding: 20px 0;
  border-top: 1px solid rgb(255, 255, 255);
}

.copyright-wrapper p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.copyright-wrapper p a {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.copyright-wrapper p a:hover {
  color: #037ef3;
}

/* Let's write the media query */
@media (max-width: 992px) {
  .container-footer {
    max-width: 960px;
  }

  .wrapper-footer .footer-widget,
  .wrapper-footer .footer-widget:nth-child(1) {
    width: calc(50% - 30px);
  }
}

@media (max-width: 768px) {
  .container-footer {
    max-width: 720px;
  }

  .wrapper .footer-widget,
  .wrapper .footer-widget:nth-child(1) {
    width: 100%;
    margin: 0 10px 50px;
  }
}
